extends ../base

block content
    div.profile__data
        img(src=user.avatarUrl).avatar
        h3=user.username
    a(href=`/users/${user._id}/myVideo`) 내 동영상
    br
    a(href=`/users/${user._id}/likedVideo`) '좋아요' 한 동영상
    br
    a(href=`/users/${user._id}/followingVideo`) 구독중인 동영상